<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Welcome</a>

    <a class="nav-link" href="#">CountryList</a>

    <a class="nav-link" href="#">CountryDetails</a> -->
<!-- Replacing with routerLink -->
    <a class="navbar-link" routerLink ='welcome'>Welcome</a>

    <a class="nav-link"  routerLink ='CountryList'>CountryList</a>

    <a class="nav-link"  routerLink ='welcome'>CountryDetails</a>


  </nav>

  <div class="row" style="margin-top: 5%">
    <router-outlet></router-outlet>
  </div>
</div>